{% extends 'pages/templates/adminBasePage.html.twig' %}


{% block body %}
	<div class="wide">UniFi Controller status</div>
	<p></p>
	<!-- info -->
	<div class="lb_flex-container">
		<div class="lb_flex-item-label">
			<label class="control-label">{{ trans('home.service_status') }}</label>
		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item">
			{{unifi_data.status}}
		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item-help hint">
			{{ trans('home.service_status_help') }}
		</div>
		<div class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container">
		<div class="lb_flex-item-label">
			<label class="control-label">{{ trans('home.container_version') }}</label>
		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item">
			{{unifi_data.containerVersion}}

		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item-help hint">
			{{ trans('home.container_version_help') }}
			<p>
				{{ trans('home.container_version_help_bold') }}
			</p>
		</div>
		<div class="lb_flex-item-spacer"></div>
	</div>

	<div class="lb_flex-container">
		<div class="lb_flex-item-label">
			<label class="control-label">{{ trans('home.controller_version') }}</label>
		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item">
			{{unifi_data.version}}
		</div>
		<div class="lb_flex-item-spacer"></div>
		<div class="lb_flex-item-help hint">
			{{ trans('home.controller_version_help') }}

		</div>
		<div class="lb_flex-item-spacer"></div>
	</div>

	<div class="wide">{{ trans('home.settings') }}</div>
	<p>
		<i>{{ trans('home.settings_desc') }}</i>

	</p>
	<form id="config" method="post" action="{{ adminRouteUrl('upgrade') }}">

		<div class="lb_flex-container">
			<div class="lb_flex-item-label">
				<label class="control-label">{{ trans('home.container_version') }}</label>
			</div>
			<div class="lb_flex-item-spacer"></div>
			<div class="lb_flex-item">
				<div class="ui-select ui-mini">
					<select id="version" name="version" data-mini="true">
						{% for version in versions %}
							<option value="{{version}}" {% if version == unifi_data.containerVersion %} selected {% endif %}>{{version}}</option>
						{% endfor %}
					</select>

				</div>
			</div>
			<div class="lb_flex-item-spacer"></div>
			<div class="lb_flex-item">
				<button type="submit" name="btnsubmit" id="btnsubmit" data-role="button" data-inline="true" data-mini="true" data-icon="check" class=" ui-btn ui-icon-check ui-btn-icon-left ui-btn-inline ui-shadow ui-corner-all ui-mini">{{ trans('home.settings_save') }}</button>
			</div>
			<div class="lb_flex-item-help hint">
				{{ trans('home.settings_save_hint') }}
			</div>
		</div>
	</form>

	<div class="wide">{{ trans('home.configuration') }}</div>
	<p>
		<i>{{ trans('home.configuration_info') }}</i>
	</p>
	<p>{{ trans('home.configuration_howto') }}</p>
	<img src="{{ assetUrl('img/config_howto.png') }}" alt="Configuration howto">

	<div class="wide">Webinterface</div>
	<p>
		<i>{{ trans('home.home_explanation') }}</i>
	</p>
	<a href="{{unifi_url}}" target="_blank" class="ui-btn" id="openui" data-inline="true">{{ trans('home.open_ui')}}</a>
{% endblock %}
