{% extends 'pages/templates/adminBasePage.html.twig' %}

{% block body %}
<div class="wide">UniFi Controller</div>

<table class="formtable" style="border:0; width:100%;">
			<tbody><tr>
				<td>
					Current Controller Version:
				</td>
				<td>
					{{unifi_data.version}}
				</td>
			</tr>
			<tr>
				<td> Available versions</td>
				<td>
					<div class="lb_flex-item">
									<select name="CONFIG.general.country" id="country" selected="selected">
									{% for version in versions %}
										<option value="{{version}}">{{version}}</option>
									{% endfor %}
									</select>
					</div>
				</td>
			</tr>
			
		</tbody></table>


<p><i>{{ trans('home.home_explanation') }}</i></p>
<a href="{{unifi_url}}" target="_blank" class="ui-btn" id="openui" data-inline="true">{{ trans('home.open_ui')}}</a>

{% endblock %}